@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 5px;
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: black;
}

header {
    padding: 10px 10px 20px 10px;
    background-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#app-name {
    background: -webkit-linear-gradient(45deg,green,yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    font-size: 2.5em;
    font-family: 'Source Code Pro', monospace;
}

.fa-envelope-open {
    color: white;
    font-size: 1em;
}

#app-desc {
    padding:10px;
    color: white;
    font-size: 1em;
}

#email-validator {
    padding:20px 20px 40px 20px;
    background-image: linear-gradient(45deg,green,yellow);
    border-radius: 50px;
}

#email-verification-form {
    padding: 10px;
    margin: 20px;
}

#email-input {
    margin: 10px;
    padding-left:10px;
    padding-right:10px;
    height: 3em;
    width: 60vw;
    color: white;
    font-size: 1.2em;
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px dashed black;
    border-radius: 5px;
}

::placeholder {
    color: white;
    opacity: 0.85;
}

#email-input:focus {
    border: 2px solid black;
    outline: none;
}

#btn-verify {
    margin: 5px;
    height: 3em;
    width: 6em;
    color: black;
    font-weight: 700;
    background-color:  rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 5px;
}

#btn-verify:hover {
    cursor: pointer;
    transform:scale(0.95);
    background-color: rgba(0, 0, 0, 0.2);
}

#response {
    margin: 0 25vw 0 25vw;
}

#response-table, th, td {
    padding: 5px;
    width: 45vw;
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: collapse;
}

#response-table a:link {
    color:black;
    text-decoration: none;
}

#response-table a:visited {
    color:black;
    text-decoration: none;
}

#response-table a:hover {
    color:black;
    text-decoration: none;
}

#response-table a:active {
    color:black;
    text-decoration: none;
}

footer {
    padding: 20px 10px 10px 10px;
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#dev-message {
    color: white;
}

#github-link:link {
    color:white;
    text-decoration: none;
}

#github-link:visited {
    color:white;
    text-decoration: none;
}

#github-link:hover {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

#github-link:active {
    color: white;
    text-decoration: none;
}

#support {
    width: 50vw;
    margin: 0 25vw 0 25vw;
}

/*------------------------------------------------------------*/
/*Media queries are used to make this web app mobile-friendly.*/
/*------------------------------------------------------------*/

@media screen and (max-width: 500px) {
    header {
        margin: 0;
        width: 100%;
    }

    #email-validator {
        margin: 0;
        width: 100%;
    }

    footer {
        margin: 0;
        width: 100%;
    }

    #support {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    header {
        margin: 0;
        width: 100%;
    }

    #email-validator {
        margin: 0;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    footer {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {

    header {
        margin: 0;
        width: 100%;
    }

    #email-validator {
        margin: 0;
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
    }

    #email-input {
        font-size: 1em;
    }

    #response {
        margin: 0 25% 0 25%;
    }

    footer {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    header {
        margin: 0;
        width: 100%;
    }

    #email-validator {
        margin: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #email-input {
        font-size: 0.8em;
    }

    #response {
        margin: 0 25% 0 25%;
    }

    footer {
        margin: 0;
        width: 100%;
    }
}